body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main {
    flex-grow: 1;
}

.footer {
    height: auto;
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.header .navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #000000;
}

.header .navbar-brand img {
    height: 30px;
    margin-right: 10px;
}

.header .nav-link {
    color: #333;
    margin: 0 10px;
}

.header .nav-link:hover {
    color: #007bff;
}

.header .btn-start {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 20px;
}